/*
 *= require_tree .
 *= require_self
 */

@import foundation-icons
@import bourbon
@import reset
@import config

*, *:before, *:after
  box-sizing: border-box

body
  font-family: "Lato", sans-serif
  color: $font_color
  font-size: 12pt

a
  color: $font_color

a:link, a:visited
  text-decoration: none

a:hover, a:active
  text-decoration: underline

h1
  font-size: 48px

h2
  font-size: 20px

p, li, h2, h3, h4, h5, h6
  line-height: 1.6em

ol, ul
  list-style-position: inside

input[type=text],input[type=email],input[type=password]
  width: 100%
  border: none
  outline: none
  margin: 10px 0
  padding: 15px 15px
  font-size: 16pt
  background-color: $well_color

header
  height: 80px
  background-color: #fff

  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  align-items: center
  padding: 0 100px
  border-bottom: 1px solid #F5F5F5

  .chest-logo
    @include hide-text
    width: 88px
    height: 31px
    display: block
    background: image-url('chest-logo.svg') no-repeat

  nav
    height: 100%
    display: flex
    flex-flow: row nowrap
    align-items: center

    text-transform: uppercase

    a
      color: #000
      text-decoration: none
      font-weight: 500
      font-size: 14px

      margin-left: 30px

      &:hover, &:active
        text-decoration: none
        color: $theme_color

      &:first-child
        margin-left: 0

    a.em
      border: 2px solid #000
      padding: 5px 20px
      font-weight: bold

      &:hover, &:active
        text-decoration: none
        color: $font_color

