/*
 *= require evil-icons
 *= require_tree .
 *= require_self
 */

@import bourbon
@import reset

body
  font-family: "Lato", sans-serif

main
  background-color: #F7F3F3
  padding: 0 100px

h1
  font-size: 48px

h2
  font-size: 20px

p, li, h2, h3, h4, h5, h6
  line-height: 1.6em

ol, ul
  list-style-position: inside

header
  height: 50px
  background-color: #fff

  display: flex
  flex-flow: row nowrap
  justify-content: flex-start
  align-items: center
  padding: 0 100px

  .chest-logo
    @include hide-text
    width: 88px
    height: 31px
    display: block
    background: image-url('chest-logo.svg') no-repeat

  nav
    height: 100%
    display: flex
    flex-flow: row nowrap
    align-items: center

    &.nav-global
      justify-content: flex-start

    &.nav-search
      margin: 0 50px
      padding: 0 10px
      flex-grow: 1
      border: 1px solid #ededed
      border-top: none
      border-bottom: none
      display: flex
      flex-flow: row nowrap

      .icon
        width: 30px
        height: 30px
        fill: #7E7E7E

      form, input[type=text]
        width: 100%

      input[type=text]
        border: 0
        outline: none
        font-size: 25px

    &.nav-user
      justify-content: flex-end

    a
      color: #000
      text-decoration: none
      font-weight: 500
      font-size: 14px

      &:hover, &:active
        color: #888888

      margin-left: 30px
      &:first-child
        margin-left: 0

