.package-intro
  padding: 100px 0
  text-align: center
  background-color: #F7F3F3

.package-meta
  background-color: #F7F3F3

  .package-basics
    padding: 50px 0 20px
    background-color: #F7F3F3

    .package-description
      color: #837B7B

  .package-details
    padding: 20px 0
    background-color: #E7E1E1

.package-readme
  padding: 50px 100px
  background-color: #fff

  a
    color: #F8412E

  a:link, a:visited
    text-decoration: none

  a:hover, a:active
    text-decoration: underline

  h2
    margin-top: 30px

  p
    margin: 20px 0

  img
    // width: 100%

.package-list
  display: flex
  flex-flow: row wrap
  justify-content: flex-start

  .package-list-item
    flex-grow: 1
