.package-intro
  padding: 100px 0
  text-align: center
  background-color: #F7F3F3

.package-meta
  padding: 50px 0
  background-color: #F7F3F3
  display: flex
  flex-flow: row
  justify-content: flex-start

  .package-basics, .package-details
    flex-grow: 1

  .package-basics
    .package-description
      color: #837B7B

  .package-details
    ul
      list-style: none

      li
        display: flex
        flex-flow: row nowrap
        align-items: center

.package-readme
  padding: 50px 100px
  background-color: #fff

  h2
    margin-top: 30px

  p
    margin: 20px 0

  img
    // width: 100%

.package-list
  display: box
  flex-flow: row wrap
  justify-content: flex-start

  .package-list-item
    border: 1px solid #000
